@page
@model WebApplication2.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <h4>Работник</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.pasportData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.pasportData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.contributionID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.contributionID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.position.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.ID">Изменить</a> |
    <a asp-page="Index">Вернуться назад</a>
</div>
